/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-Oct-2015, 3:23:19 PM
    Author     : tom
*/
.lampp-hide-collapse {
  -fx-graphic: url('hide-collapse.png');
}
.lampp-show-expand {
  -fx-graphic: url('show-expand.png');
}
.lampp-hide-collapse-r {
  -fx-graphic: url('hide-collapse-r.png');
}
.lampp-show-expand-r {
  -fx-graphic: url('show-expand-r.png');
}
.lampp-hide-collapse-50 {
  -fx-graphic: url('hide-collapse-50.png');
}
.lampp-show-expand-50 {
  -fx-graphic: url('show-expand-50.png');
}
.lampp-hide-collapse-r-50 {
  -fx-graphic: url('hide-collapse-r-50');
}
.lampp-show-expand-r-50 {
  -fx-graphic: url('show-expand-r-50.png');
}
.lampp-button {
    -fx-font-size: 34;
    -fx-font-family: "Arial";
    -fx-base: rgb(112, 125, 47);
    -fx-background: rgb(205, 208, 183);
}

.lampp-gaussian  {
    -fx-font-size: 16;
    -fx-font-family: 'Roboto Bold';
}

.lampp-rational  {
    -fx-font-size: 20;
    -fx-font-family: 'Roboto Bold';
}

.lampp-intmodp  {
    -fx-font-size: 20;
    -fx-font-family: 'Roboto Bold';
}

.lampp-androidfont  {
    -fx-font-size: 20;
    -fx-font-family: 'Roboto Bold';
}

.lampp-standardfont  {
    -fx-font-size: 20;
    -fx-font-family: "Arial";
}

.rect {
    -fx-fill: yellow;
    -fx-stroke: green;
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}

.md-button {
    -fx-font-size: 32;
    -fx-font-family: 'Roboto Bold';
    -fx-text-fill: #444;
    -fx-background-color: rgba(230, 230, 230, 1);
    -fx-background-insets: 0;
    -fx-padding: 6;
    -fx-background-radius: 2px;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 4, 0.0, 0, 1);
}

.md-button:pressed {
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 8, 0.0, 0, 3);
}

.md-button:focused {
    -fx-background-color:
        rgba(245, 245, 245, 1),
        rgba(230, 230, 230, 1);
    -fx-background-insets: 0, 1;
}

.md-button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.ipad-dark-grey {
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
.ipad-dark-grey Text {
    -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , -1 );
}

.iphone-toolbar {
    -fx-background-color: linear-gradient(#98a8bd 0%, #8195af 25%, #6d86a4 100%);
}
.iphone {
    -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
.iphone Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , -1 );
}
/** icons from: http://www.customicondesign.com (free for non-commercial use). */
.hide-left {
  -fx-graphic: url('pnm4.png');
}
.show-right {
  -fx-graphic: url('pnm2.png');
}
.record-sales {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.record-sales:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.record-sales:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.record-sales Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}